<!--==========================
    INSIDE HERO SECTION Section
============================-->
<section class="page-image page-image-contact md-padding">
	<h1 class="text-white text-center">BLOG</h1>
</section>

<!--==========================
    Contact Section
============================-->
<section id="blog" class="md-padding">
	<div class="container">
		<div class="row">
			<main id="main" class="col-md-8">
				<div class="blog">
					<div class="blog-img">
						<img class="img-fluid" src="{{post.post_image}}" alt="">
					</div>
					<div class="blog-content">
						<ul class="blog-meta">
							<li><i class="fas fa-user"></i>{{post.author.username}}</li>
							<li><i class="fas fa-clock"></i>{{generateDate date 'MMM DD YYYY'}}</li>
							<li><i class="fas fa-comments"></i>57</li>
						</ul>
						<h3>{{post.title}}</h3>
						<p>{{post.content}}</p>
					</div>


					<div class="row">
						<div class="col-md-12">
							<ul class="footer-follow" >
								<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:3000/posts/{{_id}}" target="_blank"><i class="fab fa-facebook-f" style="color: rgb(65, 65, 65);"></i></a></li>
								<li><a href="https://twitter.com/share?url=http://127.0.0.1:3000/posts/{{_id}}&text=ICERIK" target="_blank"><i class="fab fa-twitter" style="color: rgb(65, 65, 65);"></i></a></li>
								<li><a href="http://www.linkedin.com/shareArticle?url=http://127.0.0.1:3000/posts/{{_id}}" target="_blank"><i class="fab fa-linkedin-in" style="color: rgb(65, 65, 65);"></i></a></li>
								
							</ul>
						</div>
					</div>

				
				</div>
			</main>
			<!-- /Main -->

			<!-- Sidebar -->
			{{> site-sidebar}}
			<!-- /Sidebar -->

		</div>

	</div>
</section>